.wrapper
{
	height: 700px;
	width: 1500px;
	/*background-color: red;*/
}
header
{
	height: 120px;
	width: 1500px;
	background-color: #87CEFA;
	padding: 10px;
}
h1{
	margin-left : 130px;
font-size : 26px;
}

section
{
	height: 550px;
	width: 1500px;
	background-color: grey;
}
footer
{
	height: 82px;
	width: 1500px;
	background-color: black;
}
.logo
{
	float :left;
	padding-left: 20px;
	

}
.logo img 
{
	padding-left: 15px;
	width : 80px;
	
}

li a
{
	color: black;
	text-decoration: none;
}
nav
{
	float: right;
	word-spacing: 30px;
	padding: 20px;
}
nav li 
{
	display: inline-block;
	line-height: 80px;
}

section .sec_img
{
	height: 550px;
	margin-top: 0px;
	background-image: url("images/kk.jpg");
}
.box
{
	height: 100px;
	width: 300px;
	color: white;
	text-shadow : 2px 2px #000000;
}

/*--------------------------------st_login-----------------------------*/

.log_img
{
	height: 650px;
	margin-top: 0px;
	background-image: url("images/3.jpg");
}
.box1
{
	height: 350px;
	width: 400px;
	background-color: black;
	margin: 70px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}
form .login
{
	margin: auto 50px;
}
input
{
	height: 25px;
	width: 300px;

}
/*------------------------------registration--------------------*/
.reg_img
{
	height: 630px;
	margin-top: 0px;
	background-image: url("images/4.png");
}
.box2
{
	height: 589px;
	width: 400px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}


	
	